<div class="account-header">
    <div class="account-info">
      <!-- <p class="account-balance">{{ account | number }}</p> -->
      <ng-container *ngIf="account$ | async as account; else loading">
        <h3 class="account-name">{{ account.name | titlecase }}</h3>
        <span> Balance: {{ account.balance | currency:'INR':'symbol':'':'en-IN' }}</span>
     </ng-container>
     <ng-template #loading>
      <span>Updating account...</span>
     </ng-template>
      <div class="account-actions">
        <!-- <button mat-icon-button (click)="importTransactions.emit()">
          <mat-icon>file_upload</mat-icon>
        </button> -->
        
          <button mat-button (click)="openAddTransactionDialog()" [disabled]="!selectedAccount">
            <mat-icon>add</mat-icon>Add New
          </button>
          <!-- <button mat-icon-button (click)="filterTransactions.emit()">
            <mat-icon>filter_alt</mat-icon>
          </button> -->
          <div class="spacer"></div>
          <div class="search-box">
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="Search" (input)="searchTransaction($event)">
            </mat-form-field>
          </div>
          
        </div>
    </div>
    
  </div>