<h2 mat-dialog-title>{{ data.id ? 'Edit Category' : 'Add Category' }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="categoryForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Type</mat-label>
      <mat-select id="categoryType" formControlName="type" required>
      <mat-option [value]="null">-- Select a  type --</mat-option>
      <mat-option *ngFor="let catType of categoryTypes" [value]="catType">
        {{ catType | titlecase }}
      </mat-option>
    </mat-select>
    </mat-form-field>
    
    <!-- <mat-form-field appearance="outline">
      <mat-label>Parent Category</mat-label>
      <input matInput formControlName="parentCategory">
    </mat-form-field> -->
    <!-- <mat-form-field appearance="outline">
      <mat-label>Icon Name</mat-label>
      <input matInput formControlName="icon">
    </mat-form-field> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="categoryForm.value" [disabled]="categoryForm.invalid" cdkFocusInitial>Save</button>
</mat-dialog-actions>